@font-face {
    font-family: "SF Regular";
    src: url(sf-pro-display/SFPRODISPLAYREGULAR.OTF);
}

@font-face {
    font-family: "SF Medium";
    src: url(sf-pro-display/SFPRODISPLAYMEDIUM.OTF);
}

@font-face {
    font-family: "SF Bold";
    src: url(sf-pro-display/SFPRODISPLAYBOLD.OTF);
}

/* Umum */
body {
	background: linear-gradient(-45deg, #DA1212, #FF5722, #E5890A, #F4F4F4);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 200vh;
    color: #F4F4F4;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.navbar {
    background-color: #212121 !important; /* Pastikan warna navbar konsisten */
}

.navbar .nav-link {
    color: #ffffff !important;
    text-decoration: none; /* Menghilangkan garis bawah */
    font-weight: normal; /* Menghilangkan teks tebal */
}

.navbar .nav-link:hover {
    color: #d4d4d4 !important; /* Warna saat hover, jika diinginkan */
}

.btn-toggle {
    background-color: #ffffff;
    color: #088395;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: none;
}

.btn-toggle:hover {
    background-color: #f0f0f0;
}

/* Dark Mode */
.dark-mode {
    background-color: #333333;
    color: #ffffff;
}

.dark-mode .navbar {
    background-color: #444444 !important;
}

.dark-mode .navbar .nav-link {
    color: #ffffff !important;
}

.dark-mode .navbar .nav-link:hover {
    color: #d4d4d4 !important; /* Warna saat hover di mode gelap */
}

.dark-mode .btn-toggle {
    background-color: #088395;
    color: #ffffff;
}

.dark-mode .btn-toggle:hover {
    background-color: #066b71;
}

.dark-mode .movie-card {
    border: 1px solid #333333;
    border-radius: 10px;
    background-color: #f5f5f5;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    color: #333333;
}

/* Movie Cards */
.movie-card {
    border: 1px solid #333333;
    border-radius: 10px;
    background-color: #f5f5f5;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.movie-card:hover {
    transform: scale(1.03);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

/* Tombol Vote */
.btn-rate {
    background-color: #071952; /* Warna baru untuk tombol vote */
    color: #ffffff; /* Warna teks putih untuk kontras */
    border: none;
    padding: 8px 16px; /* Ukuran padding sesuai kebutuhan */
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-rate:hover {
    background-color: #050f3a; /* Warna lebih gelap saat hover */
    color:#d4d4d4;
}

/* Modal */
.modal-content {
    border-radius: 10px;
    background-color: #f5f5f5;
    color: #333333;
    transition: none;
}

.dark-mode .modal-content {
    background-color: #444444;
    color: #ffffff;
}

#my-carousel-bg{
    background-color: transparent;
    opacity: 2;
}

/* Responsivitas */
@media (max-width: 576px) {
    .movie-poster {
        width: 50px;
        height: 75px;
    }

    .btn-rate {
        padding: 6px 12px;
        font-size: 14px;
    }
}

/* Tambahan jika diperlukan */